body{
  background: rgb(130,127,190);
background: linear-gradient(90deg, rgba(130,127,190,1) 0%, rgba(117,226,214,1) 83%, rgba(0,212,255,1) 100%);
} 


.dashboard-container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

h1{
  margin-left:22%;
}

.tab {
  margin: 0 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.tab.active {
  background-color: #0056b3;
}

.list {
  list-style: none;
  padding: 0;
}

.list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 5px;
  border: 2px solid #ddd;
  border-radius: 4px;

}

.item-title {
  font-weight: bold;
}

.item-actions button {
  margin-left: 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: box-shadow 0.3s;
}

.list-item:hover {
  box-shadow: 5px 10px #888888;
}

.edit-button {
  background-color: #ffc107;
  color: #000;
}

.delete-button {
  background-color: #dc3545;
  color: #fff;
}

.error-message{
  color:red;
}

.sum{
  margin-top: 20px;
}

